<!DOCTYPE html>
<html lang="en">

{{ partial "head" . }}

<body>
  {{ partial "header" . }}
  <main class="container">
    {{ range first 10 .Data.Pages }}
    {{ if eq .Type "articles" }}
    <article style="margin: 1rem 0;">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ .Title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p>{{ if .Params.tags }}<strong>Tags:</strong> {{range .Params.tags}}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</p>
          <p>{{ if .Params.categories }}<strong>Categories:</strong> {{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</p>  
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="{{ .Permalink }}" class="card-link">Read more</a>
        </div>
      </div>
    </article>
    {{ end }}
    {{ end }}
  </main>
</body>

</html>